<%= render 'shared/faker_banner' %>

<!-- <div class="cocktail-banner">
  <img src="https://images.unsplash.com/photo-1583743946281-20e633533a2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="Picture of three cocktails">
</div> -->


<div class="card-product">
  <img src="https://images.unsplash.com/photo-1549746423-e5fe9cafded8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" />
  <div class="card-product-infos">
    <div class="card-name-card-link">
      <h1><%= @cocktail.name %></h1>
      <p class="btn-add-ingredient"><%= link_to "Add An Ingredient", new_cocktail_dose_path(@cocktail) %></p>
    </div>

    <div class="ingredient-table">
      <table>
        <tr>
         <th>Ingredient</th>
          <th>Description</th>
          <th></th>
        </tr>

        <% @cocktail.doses.each do |dose| %>
          <tr>
            <td><%= dose.ingredient.name %></td>
            <td><%= dose.description %></td>
            <td><%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, dose_path(dose), method: :delete %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>







 <!--  <h1><%= @cocktail.name %></h1>
  <%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail) %> -->


<%#= render "doses/new", cocktail: @cocktail, dose: @dose %>
<!-- <h1>Ingredients List</h1>
  <% @cocktail.doses.each do |dose| %>
  <p><%= dose.ingredient.name %></p>
  <p><%= dose.description %></p>
  <%= link_to "Delete", dose_path(dose), method: :delete %>
 <% end %> -->

<%= render 'shared/footer' %>

