<h1><%= @cocktail.name %></h1>

<%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail) %>


<%#= render "doses/new", cocktail: @cocktail, dose: @dose %>
<h1>Ingredients List</h1>
  <% @cocktail.doses.each do |dose| %>
  <p><%= dose.ingredient.name %></p>
  <p><%= dose.description %></p>
  <%= link_to "Delete", dose_path(dose), method: :delete %>
 <% end %>

